@charset "UTF-8";
article {
    border-bottom: 1px solid grey;
    padding: 40px 20px;
}

article h3 {
    padding-top: 0px;
}

article p {
    padding-bottom: 0px;
    color: #484848;
}

article:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

article:first-child {
    padding-top: 0px;
}
.form-style {
    display: block;
    margin-bottom: 20px;
}
.form-style .input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
textarea.input {
    height: 150px;
}

fieldset {
    border-color: white;
}
body {

}
.container {
    margin: 0px auto;
    width: 800px;
    background: white;
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 20px;
}
.content {
    padding: 40px;
    width: 650px;
    border: 1px solid black;
    box-sizing: border-box;
}
.sidebar {
    width: 150px;
    background: blue;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.sidebar a{
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
    padding: 10px;
}
.sidebar a:hover {
    background-color: #0757c1;
}
.sidebar a.active {
    background: #0606bf;
}
footer {
    width: 100%;
    border: 1px solid black;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
}
table {
    border: 1px solid #d2d2d2;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}
table :last-child {
    margin-bottom: 0px;
}
th, td {
    border: 1px solid #d2d2d2;
    padding: 5px 10px;
    text-align: center;
}
th {
    background: #f1f1f1;
}
th.no {
    width: 15px;
}
td.jumlah {
    text-align: right;
}
caption {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Sriracha', cursive;
}
