{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action='sell' method='POST'>
        <div class='form-group'>
            <select class='form-control', name='symbol'>
                <option disabled value='' selected>Select stock</option>
                {% for symbol in symbols %}
                <option value='{{ symbol.symbol }}'>{{ symbol.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class='form-group'>
            <input class='form-control' name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
